body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 3em;
}

.entry {
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 3%;
  margin: 1%;
}


.thumb {
  width: 320px;
  padding: 0px;
  box-shadow: 0 0 6px 1px #e8e8e8;
  border-radius: 5px;
  margin: 10px 5px;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.thumb:hover {
  box-shadow: 0 0 6px 8px #e8e8e8;
}
.thumb > a {
  text-decoration: none;
}

h1, h3, #subtitle {
  text-align: center;
}

footer {
  text-align: center;
  margin: 5em auto 0 auto;
  border-top: 1px solid #eee;
  padding-top: 5px;
  max-width: 1200px;
}

a:not(.button), a:link:not(.button), a:hover:not(.button) {
  color: blue;
}
a:visited:not(.button) {
  color: purple;
}

section {
  max-width: 1200px;
  margin: auto;
}

h4 {
  font-size: 140%;
  font-weight: bold;
}
h5 {
  font-size: 100%;
  font-weight: bold;
}

ul {
  list-style: none;
}

em {
  font-style: normal;
  color: red;
}

.video-js {
  max-width: 100%;
}

span.description {
  display: block;
  margin: 8px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  margin: 0 0.5em;
}

#donations {
  text-align: left;
  background: #efefef;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  body {
    margin: 3em 0;
  }
  .thumb {
    width: 100%;
  }
}

