{
    "aws": {
        "enabled": "true",
        "accessKeyId": "",
        "secretAccessKey": "",
        "region": "eu-west-3"
    },
    "cloudinary": {
        "enabled": "true",
        "name": "",
        "key": "",
        "secret": ""
    },
    "local":  {
        "enabled": "true",
        "videosPath": "videos/",
        "videosDomain": "https://videos.memonomenaperistatika.gr"
    }
}