<% for ({ title, videos } of entries) { %>
  <h4><%= title %></h4>
  <ul>
    <% for (const { location, url, description } of videos) { %>
      <li>
        <% if (location) { %>
          <%= location %>:
        <% } %>
        <a href='<%= url %>' target='_blank'><%= description %></a>
      </li>
    <% } %>
  </ul>
<% } %>
