body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 3em;
}

h1, h3, #subtitle {
  text-align: center;
}

footer {
  text-align: center;
  margin: 5em auto 5em auto;
  border-top: 1px solid #eee;
  padding-top: 5px;
  max-width: 1200px;
}

a, a:link, a:hover {
  color: blue;
}
a:visited {
  color: purple;
}

section {
  max-width: 1200px;
  margin: auto;
}

h4 {
  font-size: 140%;
}

em {
  font-style: normal;
  color: red;
}
